[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.*"
python-dotenv = "1.0.1"
nltk = "==3.*"
plotly = "*"
pandas = "*"
flask = "==3.*"
flask-htmx = "*"
jinja-partials = "*"
beautifulsoup4 = "==4.*"

[dev-packages]

[requires]
python_version = "3.8"
