<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link href="../static/styles.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <div id="navigation" class="w-1/2 flex border rounded-lg">
        {% block navigation %}
        <a href="/about" class="flex-auto text-4xl">About</a>
        <a href="/data_management" class="flex-auto text-4xl">Data Management</a>        
        <a href="/analytics" class="flex-auto text-4xl">Analytics</a>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        <p>Created by Casrar</p>
        {% endblock %}
    </div>
</body>
</html>