<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link href="../static/styles.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <div id="navigation" class="w-1/2 flex border-b-2 border-r-2 border-black rounded-lg p-2">
        {% block navigation %}
        <a href="/about" class="flex-auto text-4xl">About</a>
        <a href="/data_management" class="flex-auto text-4xl">Data Management</a>        
        <a href="/analytics" class="flex-auto text-4xl">Analytics</a>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        <footer class="fixed bottom-0 w-full">
            <p class="text-2xl">Created by <a href="https://github.com/casrar/Sentireddit" target="_blank">Casrar</a></p>
        </footer>
        {% endblock %}
    </div>
</body>
</html>