{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block navigation %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="flex flex-row justify-center">
    <div class="w-1/2 flex flex-col">
        <h1 class="mt-8 self-center text-8xl text-orange-500">Sentireddit</h1>
        <h3 class="text-2xl my-4">
            Reasons: The decision to create Sentireddit was driven by several key factors. 
            Initially, my aim was to establish a reliable and accessible method for tracking the sentiment of stocks. 
            This stemmed from a genuine interest in understanding market dynamics and gauging investor sentiments, especially retail investors on r/WallStreetBets. 
            Simultaneously, I recognized the opportunity to acquaint myself with a variety of tools and technologies relevant to sentiment analysis and data processing. 
            Additionally, I was motivated by the desire to offer a solution that didn't entail ongoing subscription expenses for third-party services. 
            By developing this app, my intention was to empower individuals with the capability to conduct their independent research and analysis, 
            free of charge and with an open-source tool.
        </h3>
        <h3 class="text-2xl my-4">Uses: Stock sentiment tracking, market insights, research aid, news monitoring, competitor analysis, event impact assessment, content creation, algorithmic trading, social media strategy, academic research, etc...</h3>
        <!-- <h3 class="text-2xl my-4">How to use: WiP</h3> -->
    </div>
</div>

{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}

