<div id="data-sources" class="h-44 overflow-y-auto data-management-scrollbar border border-solid border-black border-2 rounded-lg p-2">
    {% for item in context['data_sources'] %}
    <div class="flex mb-2">
        <input class="mr-2 accent-orange-500" type="checkbox" name="selected-data" value="{{ item.id }}">
        <label class="w-full border border-solid border-black border-2 rounded-lg text-center">
            {{ item['subreddit'] }} : {{ item['query'] }}
        </label>
        <br/>
    </div>
    {% endfor %}
</div>