[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
praw = "*"
nltk = "*"
plotly = "*"
pandas = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.8"
